/* blinker-regular - latin */
@font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/blinker-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Blinker'), local('Blinker-Regular'),
         url('~@/assets/fonts/blinker-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~@/assets/fonts/blinker-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('~@/assets/fonts/blinker-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('~@/assets/fonts/blinker-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~@/assets/fonts/blinker-v3-latin-regular.svg#Blinker') format('svg'); /* Legacy iOS */
  }
  /* blinker-600 - latin */
  @font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 600;
    src: url('~@/assets/fonts/blinker-v3-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Blinker SemiBold'), local('Blinker-SemiBold'),
         url('~@/assets/fonts/blinker-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~@/assets/fonts/blinker-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('~@/assets/fonts/blinker-v3-latin-600.woff') format('woff'), /* Modern Browsers */
         url('~@/assets/fonts/blinker-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~@/assets/fonts/blinker-v3-latin-600.svg#Blinker') format('svg'); /* Legacy iOS */
  }
  /* blinker-800 - latin */
  @font-face {
    font-family: 'Blinker';
    font-style: normal;
    font-weight: 800;
    src: url('~@/assets/fonts/blinker-v3-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Blinker ExtraBold'), local('Blinker-ExtraBold'),
         url('~@/assets/fonts/blinker-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('~@/assets/fonts/blinker-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('~@/assets/fonts/blinker-v3-latin-800.woff') format('woff'), /* Modern Browsers */
         url('~@/assets/fonts/blinker-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('~@/assets/fonts/blinker-v3-latin-800.svg#Blinker') format('svg'); /* Legacy iOS */
  }